#header {
    position: relative;

    @include tablet {
        height: 100px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.header {

    &__logo {
        position: absolute;
        background-image: url('/img/jr.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        top: 130px;
        left: 50px;
        width: 37px;
        height: 37px;
        z-index: 100;

        @include tablet {
            top: 47px;
            width: 35px;
            height: 35px;
            left: 5%;
        }

        &--animated {
            animation: spin 0.9s linear;
            animation-iteration-count: infinite;

            @include tablet {
                animation: none;
            }
        }
    }
}
